
.tier-wrapper fieldset div div {
   display: inline-block !important;
}

.tier-wrapper select{
    display: inline-block !important;
}

.tier-wrapper input[type=text] {
    width:50px !important;
}

.tier-wrapper fieldset{
    width:100%;
}

#tiers-fieldset-wrapper{
    width:100%;
}